@import 'tailwindcss';
@import 'tw-animate-css';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(0.98 0.01 255);
  --foreground: oklch(0.21 0.01 255);
  --card: oklch(0.98 0.01 255);
  --card-foreground: oklch(0.21 0.01 255);
  --popover: oklch(0.98 0.01 255);
  --popover-foreground: oklch(0.21 0.01 255);
  --primary: oklch(0.46 0.12 255);
  --primary-foreground: oklch(0.98 0.01 255);
  --secondary: oklch(0.92 0.01 255);
  --secondary-foreground: oklch(0.24 0.04 255);
  --muted: oklch(0.92 0.01 255);
  --muted-foreground: oklch(0.55 0.02 255);
  --accent: oklch(0.8 0.1 235);
  --accent-foreground: oklch(0.21 0.01 255);
  --destructive: oklch(0.58 0.24 27);
  --border: oklch(0.92 0.01 255);
  --input: oklch(0.92 0.01 255);
  --ring: oklch(0.46 0.12 255);
  --chart-1: oklch(0.46 0.12 255);
  --chart-2: oklch(0.8 0.1 235);
  --chart-3: oklch(0.24 0.04 255);
  --chart-4: oklch(0.92 0.01 255);
  --chart-5: oklch(0.55 0.02 255);
  --sidebar: oklch(0.98 0.01 255);
  --sidebar-foreground: oklch(0.21 0.01 255);
  --sidebar-primary: oklch(0.24 0.04 255);
  --sidebar-primary-foreground: oklch(0.98 0.01 255);
  --sidebar-accent: oklch(0.92 0.01 255);
  --sidebar-accent-foreground: oklch(0.24 0.04 255);
  --sidebar-border: oklch(0.92 0.01 255);
  --sidebar-ring: oklch(0.46 0.12 255);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMono-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    font-family: 'GeistMono', sans-serif;
    @apply bg-background text-foreground;
  }
}
